@font-face {
  font-family: 'Gotham Pro';
  src: url(/site-files/gotham.ttf);
}

body {
  margin: 0; padding: 0;
  font-family: 'Gotham Pro', Arial;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-2px) scale(3);
}

.parallax__layer--base img {
  display: block;
  margin: 0 auto 0 auto;
}

.parallax__layer--back img {
  width: 100%;
  display: block;
}