@font-face {
	font-family: "Rubik";
	src: url("../site-files/font/Rubik-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
@font-face {
	font-family: "Rubik";
	src: url("../site-files/font/Rubik-Italic.ttf") format("truetype");
	font-style: italic;
}
@font-face {
	font-family: "Rubik";
	src: url("../site-files/font/Rubik-Bold.ttf") format("truetype");
	font-style: bold;
	font-weight: bold;
}
@font-face {
	font-family: "Rubik";
	src: url("../site-files/font/Rubik-Medium.ttf") format("truetype");
	font-style: medium;
}
@font-face {
	font-family: "Rubik-Light";
	src: url("../site-files/font/Rubik-Light.ttf") format("truetype");
}
@font-face {
	font-family: "Rubik Light";
	src: url("../site-files/font/Rubik-Light.ttf") format("truetype");
}
@font-face {
	font-family: "Rubik Italic";
	src: url("../site-files/font/Rubik-Italic.ttf") format("truetype");
}
@font-face {
	font-family: "Rubik-Medium";
	src: url("../site-files/font/Rubik-Medium.ttf") format("truetype");
}
@font-face {
	font-family: "Rubik Medium";
	src: url("../site-files/font/Rubik-Medium.ttf") format("truetype");
}
@font-face {
	font-family: "Rubik-Regular";
	src: url("../site-files/font/Rubik-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Rubik Regular";
	src: url("../site-files/font/Rubik-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Rubik-Bold";
	src: url("../site-files/font/Rubik-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Rubik Bold";
	src: url("../site-files/font/Rubik-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "ProstoOne-regular";
	src: url("../site-files/font/ProstoOne-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Prosto One";
	src: url("../site-files/font/ProstoOne-Regular.ttf") format("truetype");
}

html {margin: 0; padding: 0; width: 100%; height: 100%;}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #5f5f5f;
}

h1 {
	margin: 0; 
	padding: 0;
	font-family: 'Prosto One', cursive;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 38px;
	line-height: 42px;
}

a {
	-webkit-transition: color ease 0.2s;
	-moz-transition: color ease 0.2s;
	-o-transition: color ease 0.2s;
	transition: color ease 0.2s;
}

a:hover {
	color: #faaa2d !important;
}

#preloader {
	width: 100%;
	height: 100%;
	background-color: white;
	position: fixed;
	z-index: 1000;
	background-image: url(../site-files/preloader-animated-gold.svg);
	background-size: 70px;
	background-repeat: no-repeat;
	background-position: center center;
}

#cover {
	display: block;
	width: 100%;
	padding-top: 56.25%;
	margin: 0 0 5px 0;
	background-color: #8c8f94;
	position: relative;
	/*background-image: url('cover.svg');*/
}

#cover video {
	position: absolute;
	top: 0;
	left: 0;
}

.shmuz {
	width: 100%;
	height: 100vh;
	background-color: #525659;
	color: white;
}

.shmuz content {
	display: block;
	margin: 0;
	padding: 40px;
}

.reader {
	display: block;
	width: 100%;
	height: 0;
	padding-top: 56.25%;
	margin: 0 auto 0 auto;
	background-color: #46494c;
	position: relative;
}

.pdf {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.polosa {
	display: block;
	width: 100%;
	margin: 5px 0 5px 0;
	padding: 0;
	background-color: white;
}

.speech {
	position: relative;
}

.mockup-animation {
	position: relative;
}

.mockup-animation video {
	display: block;
	width: 62.083%;
	height: 86.111%;
	position: absolute;
	top: 6.296%;
	left: 34.531%;
}

.browser-animation {
	position: relative;
}

.browser-animation video {
	display: block;
	height: 91.66%;
	position: absolute;
	left: 0;
	bottom: 0;
}

.map-container {
	position: relative;
}

.map {
	position: absolute;
	width: 69.062%;
	height: 76.018%;
	top: 9.259%;
	right: 5.208%;
	background-image: url('map.png');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.map-no-bg {
	background-image: none!important;
}

.map-table {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.map .switcher {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-flex;
	z-index: 997;
}

.map .switcher span {
	display: block;
	font-family: 'Rubik-Medium';
	font-size: 0.83vw;
	line-height: 1.041vw;
	margin: 0;
	padding: 0.6vw 2vw 0.6vw 2vw;
	background-color: #e8e8ed;
	cursor: pointer;
}

.map .switcher span#filials {
	border-radius: 0.52vw 0 0 0.52vw;
}

.map .switcher span#vrp {
	border-radius: 0;
}

.map .switcher span#table {
	border-radius: 0 0.52vw 0.52vw 0vw;
}

.active {
	color: white;
	background-color: #faaa2d !important;
}

.map .vrp-point {
	display: inline-block;
	position: absolute;
	font-family: 'Rubik-Medium', sans-serif;
	font-size: 1.041vw;
	line-height: 1.5vw;
	height: 1.458vw;
	padding: 0 0 0 1.5vw;
	background-image: url('../site-files/point.svg');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	-webkit-transition: color ease 0.2s;
	-moz-transition: color ease 0.2s;
	-o-transition: color ease 0.2s;
	transition: color ease 0.2s;
}

.map .vrp-point:hover {
	color: #faaa2d;
}

.map .vrp-point#legenda {
	display: inline-block;
	position: absolute;
	font-family: 'Rubik-Medium', sans-serif;
	font-size: 1.041vw;
	line-height: 1.5vw;
	padding: 0 0 0 0;
	background-image: none;
}

.map .city {
	display: inline-block;
	position: absolute;
	font-family: 'Rubik-Medium', sans-serif;
	font-size: 1.041vw;
	line-height: 1.5vw;
	height: 1.458vw;
	padding: 0 0 0 1.5vw;
	background-image: url('../site-files/point.svg');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	-webkit-transition: color ease 0.2s;
	-moz-transition: color ease 0.2s;
	-o-transition: color ease 0.2s;
	transition: color ease 0.2s;
}

.map .city:hover {
	color: #faaa2d;
}

.map .city-data {
	display: none;
	width: 8.166vw;
	position: absolute;
	background-color: white;
	color: black;
	box-shadow: 0 10px 20px rgba(0,0,0,0.2);
	border-radius: 0.520vw;
	padding: 1vw;
	font-family: 'Rubik-Light';
	font-size: 0.833vw;
	line-height: 1.041vw;
}

.map .city-data span {
	display: block;
	font-family: 'ProstoOne-Regular';
	font-size: 1.979vw;
	line-height: 1.979vw;
	padding: 0 0 0.5vw 0;
	color: #faaa2d;
}

.map .city-data .city-data-close {
	width: 1.041vw;
	height: 1.041vw;
	background-color: #f2f2f2;
	color: black;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	font-family: 'Rubik-Medium'
}

.map .city-data .pointer-arrow {
	position: absolute;
	top: 5.4vw;
	left: 4.47vw;
	width: 0.937vw;
	height: 0.625vw;
	background-image: url('../site-files/pointer-arrow.svg');
	background-repeat: no-repeat;
	background-size: contain;
}

.speech .gradient {
	width: 38%;
	height: 2.083vw;
	position: absolute;
	left: 56.7%;
	top: 9.25%;
	padding: 0 2.083vw 0 0;
	z-index: 1;
	background-image: url('../site-files/white-gradient-2.png');
	background-size: auto 2.083vw;
}

.speech .gradient#bottom {
	top: 87.037%;
	background-image: url('../site-files/white-gradient.png');
}

.speech .text {
	width: 38%;
	height: 77.77%;
	position: absolute;
	left: 56.7%;
	top: 9.25%;
	font-size: 1.041vw;
	line-height: 1.354vw;
	font-family: Rubik-Light, sans-serif;
	padding: 2.083vw 2.083vw 0 0;
}

.speech .text p {
	margin: 0;
	padding: 0 0 0.67vw 0;
}

.speech .text h2 {
	font-family: 'ProstoOne-Regular';
	font-weight: normal;
	font-size: 1.979vw;
	line-height: 2.375vw;
	margin: 0;
	padding: 0 0 6.25vw 0;
	text-transform: uppercase;
}

.speech .text h3 {
	font-family: 'Rubik-Medium';
	font-weight: normal;
	font-size: 1.458vw;
	line-height: 1.77vw;
	margin: 0;
	padding: 0.52vw 0 0.52vw 0;
}

.simplebar-scrollbar::before {
  background-color: #cacaca !important;
}

/*MENU*/
#menu-container {
	width: 50%;
	height: 100vh;
	position: fixed;
	top: 0;
	right: -50%;
	z-index: 998;
	background-color: white;
	box-shadow: 0 0 0px rgba(0,0,0,0.3);
	-webkit-transition: right ease 0.4s;
	-moz-transition: right ease 0.4s;
	-o-transition: right ease 0.4s;
	transition: right ease 0.4s;
	font-family: Rubik-Regular;
	/*box-shadow: 0 0 30px rgba(0,0,0,0.3);	*/
}

#menu-header {
	width: calc(100% - 100px);
	margin: 24px 0 40px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#menu-container.show {
	right: 0;
	box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

#menu-container h1 {
	margin: 0;
	display: block;
	padding: 0 40px 0 60px;
	color: black;
	flex-grow: 3;
	font-size: 22px;
}

#menu-header a {
	width: 130px;
	display: block;
	text-decoration: none;
	color: black;
	font-family: 'Rubik-Medium', sans-serif;
}

#TOC {
	width: calc(100% - 160px);
	height: calc(100vh - 160px);
	padding: 0 0 0 60px;
}

#TOC a {
	display: block;
	font-family: 'Rubik-Light', sans-serif;
	color: black;
	font-size: 18px;
	line-height: 26px;
	text-decoration: none;
}

#TOC span a{
	display: block;
	font-size: 22px;
	line-height: 34px;
	font-family: 'ProstoOne-Regular';
	text-transform: uppercase;
	padding: 30px 0 10px 0;
}

#TOC span font {
	 color: #9ea3aa;
}

#menu-header #download-button {
	display: block;
	background-color: #7c002f;
	font-family: 'Rubik-Medium', sans-serif;
	color: white;
	margin: 0 0 0 60px;
	padding: 10px 10px 8px 35px;
	font-size: 16px;
	line-height: 20px;
	border-radius: 10px;
	text-decoration: none;
	text-align: center;
	background-image: url('../site-files/file-download-solid.svg');
	background-size: 16px auto;
	background-repeat: no-repeat;
	background-position: 18px center;
	-webkit-transition: background-color ease 0.4s;
	-moz-transition: background-color ease 0.4s;
	-o-transition: background-color ease 0.4s;
	transition: background-color ease 0.4s;
}

#menu-header #download-button:hover {
	color: white !important;
	background-color: #faaa2d;
}

#menu-button {
	display: block;
	width: 50px;
	height: 50px;
	background-color: #faf7fa;
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 999;
	background-image: url(../site-files/burger.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 30px 23px;
	cursor: pointer;
}

#menu-close-area {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 900;
	cursor: pointer;
}

#menu-close-area.show {
	display: block;
}

@media all and (max-width: 1200px) {
	#menu-container {width: 80%; right: -100%;}
}
/*EOF MENU*/

/*Содержание в шмуце*/
.shmutz-wrapper {
	position: relative;
}

.shmutz-TOC {
	display: block;
	width: 31%;
	height: 68%;
	position: absolute;
	top: 22%;
	left: 64%;
	opacity: 1;
	font-size: 1.041vw;
	line-height: 1.354vw;
	font-family: Rubik-Light, sans-serif;
}

.shmutz-TOC a {
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 0 0 0.57vw 0;
}

#shmutz-02 .shmutz-TOC {
	padding: 4.5vw 0 0 0;
}

#shmutz-03 .shmutz-TOC {
	padding: 4.5vw 0 0 0;
}
/*EOF Содержание в шмуце*/

/*Содержание на 8 полосе*/
.TOC-wrapper {
	position: relative;
	/*z-index: 999;*/
}

.TOC-TOC {
	display: block;
	width: 31%;
	/*height: 68%;*/
	position: absolute;
	top: 18%;
	left: 5%;
	opacity: 1;
	font-size: 1.041vw;
	line-height: 1.354vw;
	font-family: Rubik-Light, sans-serif;
}

.TOC-TOC a {
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 0 0 0.57vw 0;
}

.TOC-TOC#TOC-02 {
	top: 18%;
	left: 38%;
}

.TOC-TOC#TOC-02-RUS {
	top: 18%;
	left: 37%;
}

.TOC-TOC#TOC-03 {
	top: 65.5%;
	left: 38%;
}

.TOC-TOC#TOC-03-RUS {
	top: 62.8%;
	left: 37%;
}

.TOC-TOC#TOC-04 {
	top: 18%;
	left: 66%;
}

.TOC-TOC#TOC-04-RUS {
	top: 18%;
	left: 67%;
}

.TOC-TOC span {
	font-family: 'Prosto One', cursive;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/*EOF Содержание на 8 полосе*/

