@font-face {
	font-family: 'Gotham Pro';
	src: url(/site-files/gotham.ttf);
}

html {margin: 0; padding: 0; height: 100%;}
body {
	margin: 0; padding: 0; height: 100%;
	font-family: 'Gotham Pro', Arial;
	font-size: 16px; line-height: 24px;
}

p {
	margin: 0 auto 0 auto; padding: 100px 0 40px 0;
	display: block; width: 1000px;
}

a {
	color: #008FCB;
	text-decoration: none;
	border-bottom: 1px solid #008FCB;
	padding: 0 0 1px 0; margin: 0 0 -1px 0;
	-webkit-transition: opacity ease-out 0.3s;
	-moz-transition: opacity ease-out 0.3s;
	-o-transition: opacity ease-out 0.3s;
	transition: opacity ease-out 0.3s;
}

a:hover {
	opacity: 0.6;
}

.fleft {float: left;}
.fright {float: right;}
.clean {clear: both;}
.grid {width: 1000px; margin: 0 auto 0 auto;}
.white {color: white;}
.center {text-align: center;}
.shadow {box-shadow: 0 0 10px rgba(0,0,0,0.3);}
.indent-d {padding: 0 0 40px 0;}

img {
	margin: 0 0 40px 0;
}

.grid-i {
	display: block;
	width: 80%;
	min-width: 1000px;
	max-width: 1600px;
	margin: 0 auto 40px auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#black-bg {
	width: 100%; height: 780px; min-width: 1000px;
	margin: 0 0 -780px 0;
	position: relative;
	z-index: -1;
	background-color: black;
}

#header {
	color: white;
	padding: 140px 0 40px 0;
	font-size: 64px;
	line-height: 90px;
	font-family: 'Merriweather', Serif;
	font-weight: lighter;
	position: relative;
	right: 40px;
}

@media all and (max-width: 1100px) {
	#header {right: 0px;}
}

#header span {
	display: block;
	text-indent: -93px;
	padding: 0 0 0 93px;
}