@font-face {
	font-family: 'Gotham Pro';
	src: url(/site-files/gotham.ttf);
}
@font-face {
	font-family: 'Gotham Pro Bold';
	src: url(/site-files/gotham-b.ttf);
}
@font-face {
	font-family: 'Gotham Pro Italic';
	src: url(/site-files/gotham-i.ttf);
}


html {margin: 0; padding: 0; height: 100%;}
body {
	margin: 0; padding: 0; height: 100%;
	font-family: 'Gotham Pro', Arial;
	font-size: 16px; line-height: 24px;
}

p {
	margin: 0 auto 0 auto; padding: 100px 0 40px 0;
	display: block; width: 1000px;
}

a {
	color: #008FCB;
	text-decoration: none;
	border-bottom: 1px solid #008FCB;
	padding: 0 0 1px 0; margin: 0 0 -1px 0;
	-webkit-transition: opacity ease-out 0.3s;
	-moz-transition: opacity ease-out 0.3s;
	-o-transition: opacity ease-out 0.3s;
	transition: opacity ease-out 0.3s;
}

a:hover {
	opacity: 0.6;
}

.fleft {float: left;}
.fright {float: right;}
.clean {clear: both;}
.grid-wide {width: 80%; min-width: 1000px; max-width: 1600px; margin: 0 auto 0 auto;}
.grid {width: 1000px; margin: 0 auto 0 auto;}
.white {color: white;}
.center {text-align: center;}
.shadow {box-shadow: 0 0 10px rgba(0,0,0,0.3);}
.indent-d {padding: 0 0 40px 0;}

img {
	margin: 0 0 40px 0;
}

.grid-i {
	display: block;
	width: 80%;
	min-width: 1000px;
	max-width: 1600px;
	margin: 0 auto 40px auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#black-bg {
	width: 100%; height: 780px; min-width: 1000px;
	margin: 0 0 -780px 0;
	position: relative;
	z-index: -1;
	background-color: black;
}

#header {
	color: white;
	padding: 140px 0 40px 0;
	font-size: 64px;
	line-height: 90px;
	font-family: 'Merriweather', Serif;
	font-weight: lighter;
	position: relative;
	right: 40px;
}

@media all and (max-width: 1100px) {
	#header {right: 0px;}
}

#header span {
	display: block;
	text-indent: -93px;
	padding: 0 0 0 93px;
}

/*Футер*/
#footer {
	display: block;
	width: 80%;
	min-width: 1000px;
	max-width: 1600px;
	margin: 0 auto 0 auto;
	text-align: left;
}

#footer div {
	display: inline-block;
	width: 37px;
	height: 61px;
	background-image: url(the-end.svg);
	background-repeat: no-repeat;
	background-position: center center;
	padding: 100px 0 100px 0;
}

#footer a {
	border: none;
}
/*EOF Футер*/

/*Меню*/
#menu-button-wrapper {
	display: block;
	width: 100%;
	margin: 0 0 0 0;
	z-index: 999;
	position: fixed;
	background-color: yellow;
}

#menu-button {
	width: 80%;
	min-width: 1000px;
	max-width: 1600px;
	margin: -61px auto 0 auto;
	background-color: gray;
}

#menu-button span {
	display: block;
	float: right;
	width: 45px;
	height: 41px;
	margin: 0 0 0 0;
	padding: 10px;
	margin: 0;
	background-image: url(/site-files/menu.svg);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	-webkit-transition: background-color ease 0.5s;
	-moz-transition: background-color ease 0.5s;
	-o-transition: background-color ease 0.5s;
	transition: background-color ease 0.5s;
	position: relative;
	top: 122px;
}

#menu-button span.bg {
	background-color: #ec2c42;
}

#menu {
	width: 100%;
	padding: 60px 0 40px 0;
	background-color: #ec2c42;
	color: white;
	position: fixed;
	z-index: 998;
	top: -300px;
	-webkit-transition: top ease 0.2s;
	-moz-transition: top ease 0.2s;
	-o-transition: top ease 0.2s;
	transition: top ease 0.2s;
}

#menu.show {
	top: 0px;
}

#menu .col {
	margin: 0 40px 0 0;
	float: left;
}

#menu #one {
	width: 150px;
}

#menu #two {
	width: 220px;
}

#menu #three {
	width: 290px;
}

#menu a {
	font-size: 16px;
	color: white;
	border-color: white;
}

#menu p {
	width: 100%;
	margin: 0;
	padding: 0 0 10px 0;
}

#menu span {
	font-size: 18px;
	font-family: 'Gotham Pro Bold', Arial;
}

#menu #me-short {
	width: 130px;
	display: none;
	text-align: center;
}

#menu #me-short img {
	margin: -10px 0 10px 0;
}

#menu #me-short a {
	font-size: 13px;
	font-family: 'Gotham Pro Italic', Arial;
}

#menu #me {
	margin: 0 0 0 0;
}

#menu #me img {
	display: block;
	float: left;
	margin: -20px 30px 0 0;
}

#menu #me div {
	width: 102px;
	padding: 12px;
	border-radius: 5px;
	border: 1px solid white;
	float: left;
	font-size: 13px;
	line-height: 16px;
	font-family: 'Gotham Pro Italic', Arial;
}

#menu #me a {
	font-size: 13px;
}

#menu-close-area {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 900;
	cursor: pointer;
}

#menu-close-area.show {
	display: block;
}

@media all and (max-width: 1460px) {
	#me {display: none;}
	#me-short {display: block !important;}
}
/*EOF меню*/

/*Заметки*/
.back-to-notes {
	display: block;
	width: 80%;
	min-width: 1000px;
	max-width: 1600px;
	margin: 0 auto 0 auto;
	padding: 60px 0 60px 0;
	border: none;
}

.notes p {
	margin: 0 auto 0 auto;
	padding: 0;
	display: block;
	width: 700px;
	font-family: 'Merriweather', Serif;
	font-size: 18px;
	line-height: 30px;
	text-indent: 20px;
	text-align: justify;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
}

.notes .first {
	text-indent: 0px;
}

.notes h1 {
	width: 700px;
	font-size: 34px;
	line-height: 40px;
	margin: 0 auto 0 auto;
	padding: 0 0 45px 0;
	text-align: center;
	font-family: 'Merriweather', Serif;
	font-weight: normal;
}

.notes h2 {
	width: 700px;
	font-size: 24px;
	line-height: 30px;
	margin: 0 auto 0 auto;
	padding: 60px 0 20px 0;
	text-align: left;
	font-weight: bolder;
	font-family: 'Merriweather', Serif;

}

.notes h3 {
	width: 700px;
	font-size: 14px;
	line-height: 20px;
	margin: 0 auto 0 auto;
	padding: 0 0 60px 0;
	text-align: center;
	font-family: 'Merriweather', Serif;
	font-weight: normal;
}

.notes img {
	display: block;
	margin: 30px auto 30px auto;
	width: 80%;
	max-width: 1600px;
	min-width: 1000px;
}

.notes .orig {
	display: block;
	width: auto;
	margin: 30px auto 30px auto;
	min-width: 100px;
}
/*EOF Заметки*/